.lakshya-1 {
  width: 300px;
  height: 300px;
}
.logo {
  height: 70px;
  width: 70px;
}
.www {
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}
.container-sl {
  background-color: yellowgreen;
}
.cenetr {
  text-align: center;
}
#home {
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}