body {
  background-size: cover;
  background-image: url(background.jpg);
}
.lakshya {
  padding-top: 1px;
}
.lakshya-1 {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5%;
}
.logo {
  height: 70px;
  width: 70px;
}
.www {
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}
.container-sl {
  background-color: yellowgreen;
}